* ::selection {
    background: blanchedalmond;
}

html,
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #151515;
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.content-wrap {
    min-height: 100%;
}

.content-main {
    padding-bottom: 80px;
    overflow: hidden;
}