.footer {
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-top: -80px;
    height: 80px;
    font-size: 20px;
}

.footer-copyright {
    color: white;
    font-size: 0.6em;
    height: 30px;
    margin: 20px auto 0;
    text-align: center;
    font-weight: 300;
}

.footer-icon {
    text-align: center;
}

.footer-icon a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0 12px;
}

.footer-icon a:hover {
    color: gold;
}