.highlight  { background: #2a2a2a; border-radius: 2px;}

.c { color: #ababab } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #ebcb78} /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #09b1cc } /* Name */
.o { color: #b3b3b3} /* Operator */
.p { color: #09b1cc} /* Punctuation */
.cm { color: #8c8875} /* Comment.Multiline */
.cp { color: #8c8875 } /* Comment.Preproc */
.c1 { color: #8c8875 } /* Comment.Single */
.cs { color: #8c8875 } /* Comment.Special */
.gd { color: #98752c} /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gi { color: #3d9c65
} /* Generic.Inserted */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #8c8875 } /* Generic.Subheading */
.kc { color: #ebcb78} /* Keyword.Constant */
.kd { color: #ebcb78 } /* Keyword.Declaration */
.kn { color: #98752c } /* Keyword.Namespace */
.kp { color: #ebcb78 } /* Keyword.Pseudo */
.kr { color: #ebcb78 } /* Keyword.Reserved */
.kt { color: #ebcb78 } /* Keyword.Type */
.ld { color: #e6db74 } /* Literal.Date */
.m { color: #ae81ff } /* Literal.Number */
.s { color: #e7b43f} /* Literal.String */
.na { color: #3a9661 } /* Name.Attribute */
.nb { color: #09b1cc } /* Name.Builtin */
.nc { color: #3a9661} /* Name.Class */
.no { color: #ebcb78 } /* Name.Constant */
.nd { color: #3a9661 } /* Name.Decorator */
.ni { color: #09b1cc } /* Name.Entity */
.ne { color: #3a9661 } /* Name.Exception */
.nf { color: #3a9661 } /* Name.Function */
.nl { color: #09b1cc } /* Name.Label */
.nn { color: #09b1cc } /* Name.Namespace */
.nx { color: #3a9661 } /* Name.Other */
.py { color: #09b1cc } /* Name.Property */
.nt { color: #e17ebe} /* Name.Tag */
.nv { color: #09b1cc } /* Name.Variable */
.ow { color: #98752c } /* Operator.Word */
.w { color: #09b1cc } /* Text.Whitespace */
.mb { color: #ae81ff } /* Literal.Number.Bin */
.mf { color: #ae81ff } /* Literal.Number.Float */
.mh { color: #ae81ff } /* Literal.Number.Hex */
.mi { color: #ae81ff } /* Literal.Number.Integer */
.mo { color: #ae81ff } /* Literal.Number.Oct */
.sb { color: #e6db74 } /* Literal.String.Backtick */
.sc { color: #e6db74 } /* Literal.String.Char */
.sd { color: #e6db74 } /* Literal.String.Doc */
.s2 { color: #e6db74 } /* Literal.String.Double */
.se { color: #ae81ff } /* Literal.String.Escape */
.sh { color: #e6db74 } /* Literal.String.Heredoc */
.si { color: #e6db74 } /* Literal.String.Interpol */
.sx { color: #e6db74 } /* Literal.String.Other */
.sr { color: #e6db74 } /* Literal.String.Regex */
.s1 { color: #e6db74 } /* Literal.String.Single */
.ss { color: #e6db74 } /* Literal.String.Symbol */
.bp { color: #09b1cc } /* Name.Builtin.Pseudo */
.vc { color: #09b1cc } /* Name.Variable.Class */
.vg { color: #09b1cc } /* Name.Variable.Global */
.vi { color: #09b1cc } /* Name.Variable.Instance */
.il { color: #ae81ff } /* Literal.Number.Integer.Long */

.lineno { color: #ccc; display:inline-block;padding-right: 5px;
	border-right:1px solid #ccc;
}
.highlight pre code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	display: block; white-space: pre; overflow-x: auto; word-wrap: normal;
}
