---
title: 写代码的猴子
---

 <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>写代码的猴子</title>
        <link rel="icon"href="http://ac-qygvx1cc.clouddn.com/bddb9a8a5787b086.png"/>
</head>

 <link rel="stylesheet" type="text/css" href="/assets/css/home.css">
 
<body class="home-body">
    <div class="header">
        <div class="header-img">
            <img height="80px" width="80px" src="http://ac-qygvx1cc.clouddn.com/04978412acff33e7.png"/>
        </div>
        <div class="header-title">
            <a href="/">写代码的猴子</a>
        </div>
        <div class="header-right-part">
             <div class="header-right-part-item">
                <a href="/category.html" target="_blank">分类</a>
            </div>  
            <div class="header-right-part-item">
                <a href="/me.html" target="_blank">猴子</a>
            </div>            
            <div class="header-right-part-item">
                <a href="/about.html" target="_blank">关于</a>
            </div>
        </div>    
    </div>
    <div class="content-body">
          <main class="content">
            {% for post in paginator.posts %}
              <div class="item">
                  <div class="title">
                      <a href="{{ post.url }}" target="_blank">{{ post.title }}</a> 
                  </div>
                  <div class="date">
                      {{ post.date|date: "%Y-%m-%d" }}        
                  </div>
                  <div class="excerpt">
                      {{ post.excerpt }}
                  </div>
              </div>     
            {% endfor %}
            
            <div class="page">
                <div class="page-pre">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}">上页</a>
                {% else %}
                    <span></span>
                {% endif %}
                </div>
                
                <div class="page-part">
                    <div class="page-num">
                    {% if paginator.page == 1 %}
                         <span>1</span>
                     {% else %}
                         <a href="/">1</a>
                     {% endif %}
                      </div>
                         
                    {% for count in (2..paginator.total_pages) %}
                    <div class="page-num">
                        {% if count == paginator.page %}
                            <span>{{ count }}</span>
                        {% else %}
                            <a href="/page{{ count }}">{{ count }}</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                
                <div class="page-next">
                  {% if paginator.next_page %}
                       <a href="{{ paginator.next_page_path }}">下页</a>
                   {% else %}
                       <span></span>
                   {% endif %}
                </div>
                
          </div>
          </main>
          <nav class="nav">
              <!--{% for category in site.categories %}
               <div class="category-item">{{ category | first }}({{ category |size }})</div>
                <h2>{{ category | first }}</h2>
                </span>{{ category |size }}</span>
              
              {% endfor %}-->
                        
          </nav>
          <aside class="side"></aside>
       </div>  
</body>