<head>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/fontdiao.css">
</head>

<div class="footer">
    <div class="footer-icon">
        <a class="fa fa-weibo fa-2x" href="http://weibo.com/{{site.weibo_id}}" target="_blank"></a>
        <a class="fa fa-github fa-2x" href="https://github.com/{{site.github_id}}" target="_blank"></a>
        <a href="https://www.zhihu.com/people/{{site.zhihu_id}}" target="_blank">
            <span class="icon-zhihu-square"></span>
        </a>
        <a class="fa fa-inbox fa-2x" href="mailto:{{site.email}}" target="_blank"></a>
    </div>
    <div class="footer-copyright">
        &copy; 2016 写代码的猴子
    </div>
</div>