<head>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<div class="footer">
    <div class="footer-icon">
        <a class="fa fa-weibo fa-2x" href="http://weibo.com/xdmdhz" target="_blank"></a>
        <a class="fa fa-github fa-2x" href="https://github.com/laobie" target="_blank"></a>
        <a class="fa fa-inbox fa-2x" href="mailto:chjie.jaeger@gmail.com" target="_blank"></a>
    </div>
    <div class="footer-copyright">
        &copy; 2016 写代码的猴子
    </div>
</div>