<head>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<div class="footer">
    <div class="footer-icon">
        <a class="fa fa-weibo fa-lg" href="http://weibo.com/{{site.weibo_id}}" target="_blank"></a>
        <a class="fa fa-github fa-lg" href="https://github.com/{{site.github_id}}" target="_blank"></a>
        <a class="fa fa-twitter fa-lg" href="https://twitter.com/{{site.twitter_id}}" target="_blank"></a>
        <a class="fa fa-inbox fa-lg" href="mailto:{{site.email}}" target="_blank"></a>
    </div>
    <div class="footer-copyright">
        &copy; 2017 写代码的猴子
    </div>
</div>