<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="/css/reward.css">
</head>
<body>
<div style="padding:0; margin: 30px auto; width: 100%; text-align: center;">
    <div style="font-size: 1em; margin: 10px auto;color:red;font-weight: light"> 如果觉得本文对你有帮助，不妨请猴子吃个桃子</div>
    <button id="rewardButton" disable="enable"
            onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
        <span>赏</span>
    </button>
    <div id="QR" style="display: none;">
        <div id="wechat" style="display: inline-block">
            <img id="wechat_qr" src="/assets/img/def/wechat.png" alt="wdxtub WeChat Pay"/>
            <p>微信打赏</p>
        </div>

        <div id="alipay" style="display: inline-block">
            <img id="alipay_qr" src="/assets/img/def/alipay.png" alt="wdxtub Alipay"/>
            <p>支付宝打赏</p>
        </div>
    </div>
</div>

</body>
</html>