.footer {
    padding: 32px 0;
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.footer-copyright {
    color: whitesmoke;
    font-size: 0.8em;
    margin: 24px auto 0;
    text-align: center;
}

.footer-icon {
    text-align: center;
}

.footer-icon a {
    text-decoration: none;
    color: whitesmoke;
    margin: 0 10px;
}
.footer-icon span{
    font-size: 27px;
}

.footer-icon a:hover{
    color: #399df1;
}