/* header */
.logo {
    display: block;
    width: 50px;
    padding-left: 16px;
}

.logo h1 {
    clear: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.4em;
}

.logo h1 a {
    text-decoration: none;
}

.logo a {
    clear: both;
}

.logo img {
    max-height: 80px;
    clear: both;
    padding-top: 7px;
}

.site-description {
    font-family: "PingFang-SC-Regular", "Helvetica Neue", "STHeiti", "Helvetica", "Arial", "Verdana", "sans-serif", "Microsoft YaHei";
    font-size: 0.800em;
    text-transform: none;
    letter-spacing: 0.05em;
}

.header-inside {
    display: table;
    height: 100%;
    width: 100%;
}

.logo {
    display: table-cell;
    vertical-align: middle;
}

.main-navigation {
    display: block;
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.788em;
    padding-top: 27px;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    float: left;
    position: relative;
    margin-left: 20px;
}

.main-navigation li a:hover {
    opacity: 0.7;
}

.main-navigation a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: ghostwhite;
    transition: opacity 0.3s ease;
}

.main-navigation a:hover {
    color: gray;
}

.site-header {
    width: 100%;
    background: #303841;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 50px;
    height: 75px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.home-title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 1.4em;
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}

.home-title a {
    color: ghostwhite;
    text-decoration: none;
}

.home-title a:hover {
    color: gray;
}

@media screen and (max-width: 768px) {

    .main-navigation{
        display: none;
    }
    .logo {
        /*display: none;*/
    }

}
