.item {
    
   display: table;
    width: 100%;
    margin-top: 8px;
    border-bottom: 1px lightgray solid;    
}

.title-colum {
  display: table;
   width:  100%;
}
.title {
    display: table-cell;
    width: 70%;
}
.date{
  
  display: table-cell;
  text-align: right;
    font-size: 15px;
    color: grey;
}
.excerpt{
  width: 100%;
  color: gray;
  font-size: 14px;
  margin: 10px 0 10px 0;
}

.item a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.item a:hover {
    color: gray;
}

.home-body{
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQ";
}

.content-body {
  padding-top: 60px; 
}

.post-list {
   float: left;
   width: 100%;
   height: 100%;

  /*float: left;*/
  /*padding-top: 20px;*/
  /*width: 60%;*/
  /*margin-left: 200px;*/
  /*margin-right: 200px;*/
  /*padding-left: 8px;*/
  /*padding-right: 8px;*/
  /*height: 100%;*/
}

.aside {
  float: left;
  position: relative;    
  width: 20%;
  margin-left: -20%;
  margin-top: 20px;
}

.main-wrap {
  height: 100%;
  margin: 0 20% 0 20%;
  padding: 20px 8px 0 8px;
  border-left:  1px solid lightgray;
  border-right: 1px solid lightgray;
}

.nav {
  float: left;
  width: 18%;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;    
  margin-left: -100%;
  margin-top: 20px;
  height: 100%;
}

.page {
    width: 100%;
    display: table;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.page-next, .page-pre {
  display: table-cell;
  width: 30px;
}
.page-part {
    display: table-cell;
    text-align: center;
}
.page-num {
  font-size: 15px;
  color: black;
  margin-left: 8px;
  margin-right: 8px;
}

.page-part a {
  text-decoration: none;
  font-size: 15px;
  color: green;
}
.page-part a:hover{
  color: red;
}

.page-next a {
   font-size: 15px;
   text-decoration: none;
   color: cadetblue;
}
.page-pre a{
  text-decoration: none;
  font-size: 15px;
  color: cadetblue;
}

.category {
   font-size: 16px;
   width: 100%;
}
.category-item {
  display: table;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  color: grey;
}

.category-title {
  display: table-cell;
  padding-top: 4px;
  width: 80%;
}
.category-count {
  display: table-cell;
  width: 20%;
  text-align: right;
}
.category-item-post {
  display: block;
  width: 100%;
  font-size: 12px;
}
.category-item-post-title {
  display: table-cell;
  margin-left: 8px;
  width: 100%;
}
.category-item-post-date {
  display: table-cell;
  width: 20%;
  text-align: right;
}
.category-item-post-title a{
  color: black;
  border-bottom: 1px dashed gray;
  text-decoration: none;
}
.category-item-post-title a:hover{
  color: green;
}






