
* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: ghostwhite;*/
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0 10%;
    width: 80%;
    background: url("http://ac-qygvx1cc.clouddn.com/f013a2ea22a8b4a6.png");

    color: #383838;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang-SC-Regular", "STHeiti", "Helvetica", "Arial", "Verdana", "sans-serif", "Microsoft YaHei";
}

.main-content {
    padding-bottom: 60px;
}

.head {
    border: none;
    margin-bottom: 0;
    position: relative;
    display: block;
}

.tool-bar {
    position: fixed;
    width: 80%;
    margin-left: -10%;
    margin-right: 10%;
    min-height: 64px;
    background-color: transparent;
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding: 0 10%;
}

.bg {
    width: 80%;
    height: 64px;
    opacity: 0.9;
    background-color: #303841;
    display: block;
    position: absolute
}

.title {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    padding: 20px 32px 20px 32px;
    display: block;
    position: absolute;

}

.title, .sign, .head_item {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif, "Microsoft YaHei", 微软雅黑;
}

.title-sign {
    position: absolute;
    color: #FFF;
    margin-left: 8px;
    margin-top: 130px;
    display: inline-block;
    font-size: 1.5em;
}

.sign {
    color: #FFF;
    margin: 24px auto 0 auto;
    display: block;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 3px 5px 8px #232323;
    /*-webkit-font-smoothing: antialiased;*/
}

.avatar_div {
    display: block;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    padding-top: 110px;
}

.avatar {
    height: 120px;
    width: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #383838;
}

.head_item {
    color: #FFFFFF;
    position: relative;
    float: right;
    padding: 25px 20px 25px 16px;
    border-radius: 3px;
    font-size: 1.125em;
    right: 0;
}

.head_item a {
    color: #FFFFFF;
}

.title:hover {
    color: #9c9c9c;
}

.head_item:hover {
    color: #9c9c9c;
}

.header_bg {
    display: block;
    clear: both;
    width: 100%;
    height: 320px;
    background: url(http://ac-qygvx1cc.clouddn.com/964494ce41e561ea.jpg) center;
    background-size: cover;
}

.col-md-12 {
    clear: both;
    padding: 0;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
}

.avatar_div a:hover img {
    filter: alpha(Opacity=50);
    -moz-opacity: 0.9;
    opacity: 0.9;
    -moz-box-shadow: 0 0 56px rgba(202, 19, 8, 100);
    -webkit-box-shadow: 0 0 56px rgba(202, 19, 8, 100);
    box-shadow: 0 0 36px rgba(202, 19, 8, 100);
    cursor: pointer;
}

.content {
    padding: 20px 12%;
    height: auto;
    background-color: ghostwhite;
    margin: auto auto;
}

.post-item {
    width: 100%;
    padding: 26px 0 26px 0;
    display: inline-block;
    border-bottom: 1px dashed #9c9c9c;
}

.post-title {
    width: 80%;
    font-size: 1.35em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444444;
    font-weight: 300;
    /*-webkit-font-smoothing: antialiased;*/
}

.post-excerpt {
    margin-top: 15px;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    color: #555555;
    letter-spacing: 0.01em;
    font-size: 1.05em;
    -webkit-font-smoothing: antialiased;
}

.post-excerpt:hover {
    color: #5A9094;
}

.post-title:hover {
    color: #5A9094;
}

.post-date {
    color: #555555;
    margin-top: 6px;
    float: right;
    text-align: end;
    margin-left: 8px;
    font-size: 1em;
    padding: 4px;
    position: relative;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

.bottom-page {
    margin-top: 8px;
    margin-bottom: 32px;
    height: 64px;
}

.previous-page, .next-page {
    position: relative;
    line-height: 64px;
    left: 0;
    width: auto;
    height: 64px;
}

.previous-page {
    float: left;
}

.next-page {
    float: right;
}

.page {
    text-align: center;
    height: 64px;
    float: none;
}

.page-img {
    margin-top: 16px;
    width: 32px;
    height: 32px;
}

.page-num {
    text-align: center;
    line-height: 72px;
    height: 72px;
    margin: 0 8px;
    font-size: 1.25em;
    color: #333333;
}

.cnzz {
    display: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

.footer {
    padding: 24px 0;
    /*background-color: #303841;*/
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.8em;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {

    .tool-bar {
        position: absolute;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    body {
        width: 100%;
        padding: 0;
    }

    .bg {
        width: 100%;
    }

    .sign {
        font-size: 1.1em;
    }

    .title {
        font-size: 1.2em;
        padding: 21px 16px;
    }

    .avatar_div {
        height: 80px;
        width: 80px;
        padding-top: 90px;
    }

    .avatar {
        height: 80px;
        width: 80px;
    }

    .header_bg {
        height: 240px;
    }

    .head_item {
        font-size: 0.92em;
        padding: 25px 8px 25px 8px;

    }

    .content {
        margin: auto 0;
        padding: 8px 10px;

    }

    .post-title {
        font-size: 1.1em;
    }

    .post-date {
        margin: 6px auto auto auto;
        font-size: 0.8em;
        padding: 0;
    }

    .post-excerpt {
        font-size: 0.95em;
    }

}
