.item {
    display: table;
    width: 100%;
    margin-top: 8px;
    border-bottom: 1px lightgray solid;
}

.title-colum {
    display: table;
    width: 100%;
}

.title {
    display: table-cell;
    width: 70%;
}

.date {
    display: table-cell;
    text-align: right;
    font-size: 0.9em;
    color: grey;
}

.excerpt {
    width: 100%;
    color: gray;
    font-size: 0.875em;
    margin: 10px 0 10px 0;
}

.item a {
    font-size: 1.125em;
    text-decoration: none;
    color: #2185D5;
}

.item a:hover {
    color: gray;
}

.home-body {
    font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
    line-height: 1.7;
    background: ghostwhite;
}

.content-body {
    padding-top: 60px;
}

.post-list {
    float: left;
    width: 100%;
    height: 100%;
}

.aside {
    float: left;
    position: relative;
    width: 20%;
    margin-left: -20%;
    margin-top: 20px;
}

.main-wrap {
    height: 100%;
    margin: 0 0 0 25%;
    padding: 16px 36px 0 36px;
    /*border-left:  1px solid lightgray;*/
    /*border-right: 1px solid lightgray;*/
}

.nav {
    float: left;
    background: #3A4750;
    width: 22%;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    margin-left: -101%;
    height: 120%;
}

.page {
    width: 100%;
    display: table;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.page-next, .page-pre {
    display: table-cell;
    width: 30px;
}

.page-part {
    display: table-cell;
    text-align: center;
}

.page-num {
    font-size: 15px;
    color: black;
    margin-left: 8px;
    margin-right: 8px;
}

.page-part a {
    text-decoration: none;
    font-size: 0.9em;
    color: green;
}

.page-part a:hover {
    color: red;
}

.page-next a {
    font-size: 0.9em;
    text-decoration: none;
    color: cadetblue;
}

.page-pre a {
    text-decoration: none;
    font-size: 0.9em;
    color: cadetblue;
}

.category {
    font-size: 1em;
    width: 100%;
}

.category-item {
    display: table;
    width: 100%;
    margin-bottom: 5px;
    /*border-bottom: 1px solid lightgray;*/
    font-size: 0.8em;
    color: grey;
}

.category-title {
    display: table-cell;
    padding-top: 16px;
    width: 80%;
    font-size: 1em;
    color: #2185D5;
}

.category-count {
    display: table-cell;
    width: 20%;
    text-align: right;
    color: #2185D5;
}

.category-item-post {
    display: block;
    width: 100%;
    font-size: 0.75em;
    padding-top: 6px;
}

.category-item-post-title {
    display: table-cell;
    margin-left: 8px;
    width: 100%;
}

.category-item-post-date {
    display: table-cell;
    width: 20%;
    color: whitesmoke;
    text-align: right;
}

.category-item-post-title a {
    color: whitesmoke;
    text-decoration: none;
}

.category-item-post-title a:hover {
    color: springgreen;
}

.excerpt a {
    color: #2185D5;
    text-decoration: none;
    font-size: 0.875em;
}

.cnzz {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav {
        width: 0;
        display: none;
    }

    .main-wrap {
        margin: 0 0 0 -5%;
    }

}





