/*body {
  font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQ";
}*/

.site-header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  
.home-title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
  font-size: 23px;
  display: table-cell;
  padding-left: 20%;
  vertical-align: middle; }
  
.header-inside {
  display: table;
  height: 100%;
  width: 100%; }

.home-title a{
    color: black;
    text-decoration: none;  
}

.home-title a:hover{
  color: gray;
}
  

content{
    display: block;
    margin: 5% 20% 5% 20%;
    padding: 2% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    margin-top: 80px;
    font-size: 14px;
    border: 1px solid LightGrey;
}

H1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}

H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 120%;
    color: #666666;
}


H3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 100%;
    color: #666666;
}


H4 {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 98%;
    font: bold;
    font-size: 16px;
    color: black;
    line-height: 120%;
}

H5 {
    margin-top: 0px;
    margin-bottom: -5px;
    font-size: 14px;
    line-height: 100%;
}


li {
    margin-left: 0px;
    width: 100%;
}


blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 5px;
    margin-left: 20px;
}


pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    border: solid 1px lightgrey;
    padding: 8px;
    line-height: 130%;
    font-size: 90%;
    /*margin-left: 10px;*/
    width: 100%;
}


/*code {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 90%;
    color: #ffffff
}*/


a {
    text-decoration: none;
    padding: 1px;
    color: cadetblue;
}


a:hover {
    color: gray;
}


img {
    max-width: 100%;
    display: block;
    /*box-shadow: 0 0 10px #555;*/
    /*border-radius: 6px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*-webkit-box-shadow: 0 0 10px #555;*/
}


hr {
    color: LightGrey;
}

code {
    color: darkcyan;
}
ul {
    margin-left: -5px;
}
