body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: url(../img/def/bg_body.png);
    font-family: -apple-system-font, "Helvetica Neue", Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
}

.site-header {
    width: 80%;
    background: #303841;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    height: 64px;
    margin: auto 10%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    max-height: 400px;
}

.home-title {
    width: 10%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.home-title img {
    margin: 0 auto;
}

.post-title {
    font-size: 1.2em;
    width: 90%;
    padding-right: 10%;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.1em;
    -webkit-font-smoothing: antialiased;
}

.header-inside {
    display: table;
    width: 100%;
    height: 64px;
}

.home-title a {
    color: ghostwhite;
    text-decoration: none;
}

.home-title a:hover {
    color: gray;
}

.post-content {
    word-wrap: break-word;
    font-size: 1em;
    line-height: 1.8;
    overflow: hidden;
    background: ghostwhite;
    display: block;
    padding: 2% 10% 5% 10%;
    width: 60%;
    margin: 64px 10% 0;
    text-rendering: geometricPrecision;
    letter-spacing: 0.03em;
    color: #363636;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.category-item {
    color: #555555;
    width: 100%;
    display: inline-block;
    margin: 14px 0 0 0;
}

.category-title {
    font-size: 1.6em;
    display: inline-block;
}

.category-count {
    font-size: 1.5em;
    margin-left: 16px;
    float: right;
    display: inline-block;
}

.article-item {
    width: 100%;
    display: inline-block;
    padding-bottom: 8px;
    padding-top: 12px;
    border-bottom: 1px dashed lightgray;
}

.article-title {
    width: 100%;
    font-size: 1.08em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
    font-weight: 400;
}

.article-date {
    color: #6a6a6a;
    float: right;
    text-align: end;
    margin-left: 16px;
    font-size: 0.95em;
    position: relative;
    display: inline-block;
}

H2 {
    margin-bottom: 60px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 100%;
    font-size: 1.5em;
    line-height: 120%;
    color: #666666;
}

H3 {
    margin: 24px 0 12px;
    font-size: 1.6em;
    border-left: 8px solid #3a976d;
    padding-left: 0.8em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background: #ffffff;
    color: #333333;
    font-weight: 900;
    line-height: 1.5;
}

H4 {
    margin-top: 24px;
    margin-bottom: 12px;
    width: 100%;
    font: blod;
    font-size: 1.25em;
    color: #4c4c4c;
    line-height: 120%;
}

H5 {
    margin-top: 10px;
    margin-bottom: -5px;
    color: #5d5d60;
    font-size: 1.08em;
    line-height: 1.4;
}

li {
    margin-left: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 1px;
    color: #228fcd;
}

a:hover {
    color: gray;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    color: #454545;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 4px solid #9c9c9c;
    background: #e2e2e2;
}

blockquote p {
    text-indent: 0;
    padding-left: 0.5em;
}

hr {
    color: LightGrey;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #e65c04;
    letter-spacing: 0;
    font-size: 85%;
}

pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.68;
    font-size: 0.96em;
    overflow: auto;

}

pre code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #e65c04;
    letter-spacing: 0.025em;
    font-size: 85%;
}

ul {
    margin-left: -5px;
}

.avatar {
    height: 120px;
    width: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

table {
    margin: 20px 15% 20px 15%;
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    font-size: 14px;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

table > tbody > tr:hover {
    background-color: lightblue;
}

caption,
th,
td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
}

th,
td {
    border-bottom: 3px solid #ddd;
    border-right: 1px solid #eee;
}

th {
    padding-bottom: 10px;
    font-weight: 700;
}

td {
    border-bottom-width: 1px;
}

#btn-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    display: none;
    right: 32px;
    bottom: 32px;
    color: white;
}

#btn:hover {
    color: white;
}

@media screen and (max-width: 768px) {

    .site-header {
        position: static;
        margin: auto auto;
        width: 100%;
    }

    .home-title {
        width: 20%;
    }

    .post-content {
        font-size: 0.9em;
        margin: 0 0 0 0;
        padding: 2% 5% 5% 5%;
        width: 90%;
        letter-spacing: 0;
    }

    .post-title {
        font-size: 1em;
        width: 80%;
    }

    .avatar {
        height: 60px;
        width: 60px;
    }

}