---
title: 博客
permalink: /blog/ 
---
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css" />
</head>

<body>
    {% include header.html %}
    <div class="post-list">
        {% for post in site.posts %}
        <a href="{{ post.url }}">
            <div class="post-item">
                <span class="post-title">{{ post.title }}</span>
                <span class="post-date">{{ post.date|date: "%m-%d,&nbsp;%Y" }}</span>
                <span class="post-excerpt">{{ post.excerpt }}</span>
                <div class="post-divider"></div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>