---
title: 博客
permalink: /blog/ 
---
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
    <link rel="stylesheet" type="text/css" href="../css/blog.css" />
</head>

<body>
    <div class="content-wrap">
        {% include header.html %}
        <div class="content-main">
            <div class="post-list">
                {% for post in site.posts %}
                <a href="{{ post.url }}">
                    <div class="post-item">
                        <span class="post-title">{{ post.title }}</span>
                        <span class="post-date">{{ post.date|date: "%m-%d,&nbsp;%Y" }}</span>
                        <span class="post-excerpt">{{ post.excerpt }}</span>
                        <div class="post-divider"></div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>